<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" /> 
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <canvas width='600px' height="600px" id='canvas'></canvas>
    <script>
        function Game (conf) {
          this.canvas = conf.canvas;
          this.context = conf.canvas.getContext('2d');
          this.columns = conf.columns;
          this.row = conf.row;
          this.width = window.innerWidth / conf.row;
          this.height = window.innerHeight / conf.columns;
          this.init();
          this.flag = true;
          this.posList = this.draw(0);
          console.log(this.posList);
        }
        Game.prototype = {
          constructor: Game,
          draw: function (obj) {
            if (obj === 0) {
              var i, j, color, 
                  temp = [];
              for (i = 0; i < this.columns; i++) {
                var black = this.randomColor(this.row);
                for (j = 0; j < this.row; j++) {
                  if (j === black) {
                    color = '#000';
                    this.context.fillStyle = color;
                  } else {
                    color = '#fff';
                    this.context.fillStyle = color;
                  }
                  temp.push({
                    color: color,
                    x: j * this.width,
                    y: i * this.height,
                  });
                  this.context.fillRect(j * this.width, i * this.height, this.width, this.height);
                }
              }
              return temp;
            } else {
              this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
              obj.forEach(function (item) {
                this.context.fillStyle = item.color;
                this.context.fillRect(item.x, item.y, this.width, this.height);
              }.bind(this));
            }
            
          },
          init: function () {
            this.canvas.width = window.innerWidth;
            this.canvas.height = window.innerHeight;
          },
          touch: function (e) {
            var x = e.clientX,
                y = e.clientY;
            if (y >= window.innerHeight - this.height) {
              for (var i = this.posList.length - 1; i > this.posList.length - 1 - this.row; i--) {
                if (this.posList[i].color === '#000') {
                  if (x >= this.posList[i].x && x <= this.posList[i].x + this.width) {
                    this.animation(100);
                  }
                }
              }
            } else {
              this.error();
            }
            
          },
          error: function () {

          },
          animation: function (timer) {
            if (!this.flag) return false;
            this.flag = false;
            var timeScal = 1000 / 60;
            var count = timer / timeScal;
            var hasDone = 0;
            var distance = this.height / count;
            var black = this.randomColor(this.row);
            var color;
            for (var i = 0; i < this.row; i++) {
              if (black === i) {
                color = '#000';
              } else {
                color = '#fff';
              }
              this.posList.unshift({
                color: color,
                x: i * this.width,
                y: -this.height,
              });
            }
            var animationTimer = setInterval(function () {
              hasDone++;
              if (hasDone >= count) {
                  clearInterval(animationTimer);
                  this.flag = true;
                  this.posList.splice(this.posList.length - 3);
              }
              this.posList.forEach(function (item, index) {
                item.y += distance;
              });
              this.draw(this.posList);
            }.bind(this), timeScal);
          },
          randomColor: function (top) {
            return Math.floor(Math.random() * top);
          }
        }
        var T = new Game({
          canvas: document.getElementById('canvas'),
          columns: 3,
          row: 3
        });
        T.canvas.addEventListener('touchstart', function (e) {
          T.touch(e.touches[0]);
          // T.animation(100);
        })

    </script>
</body>
</html>